# =========================
# Fungears Specifics
# =========================

# Ignore WebStorm
.idea/

# Ignore src/js
src/*.js

# Ignore Node residus
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# Specific to this project
private